@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.credits {
  font-size: 12px;
  margin-top: 20px;
}

#currentTime {
  font-size: 72px;
}

input {
  text-align: center;
  font-size: 18px;
}

.configurations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.time-picker {
  font-family: sans-serif;
  font-size: 18px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  min-width: 90%;
}

td, th {
  border: 1px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
}

.waiting {
  background-color: #ffffff;
}

.called {
  background-color: #fffad3;
}

.draw {
  background-color: #9bff5e;
}

.preparing {
  background-color: #bfe7ff;
}

.released {
  background-color: #ffb489;
}

.speaking {
  background-color: #ff695e;
}

.done {
  background-color: #d6d6d6;
}